<% include partials/header %>

<h1 style="text-align: center;">BetterThanAapeli</h1>
<br>
<h2 style="text-align: center;">Game menu</h2>
<section id="gamemenu">

  <article>
      <a href="/tictactoe"><img class="pic" src="https://slack-files2.s3-us-west-2.amazonaws.com/avatars/2017-05-27/188949058290_577ab559045c89cc851b_512.png"></a>
      <p>TIC TAC TOE</p>
  </article>
  <article>
      <img class="pic" src="https://slack-files2.s3-us-west-2.amazonaws.com/avatars/2017-05-27/188949058290_577ab559045c89cc851b_512.png">
      <p>COMING SOON!</p>
  </article>
  <article>
      <img class="pic" src="https://slack-files2.s3-us-west-2.amazonaws.com/avatars/2017-05-27/188949058290_577ab559045c89cc851b_512.png">
      <p>COMING SOON!</p>
  </article>
</section>
<script src="/javascript/login.js"></script>

<% include partials/footer %>


